{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block caroussel %}
{% endblock %}


{% block body %}

<h4 class="bg-black"> {{ nom }} </h4>
{# <a href="{{ path('app_home2') }}">cliquer ici</a> #}
{# <img src="{{ asset('assets/images/lapin.jpg') }}"> #}
<i class="bi-alarm"></i>
<i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
<i class="bi bi-tools"></i>
{% endblock %}
